/node_modules
/public/hot
/public/storage
public/uploads/
/storage/*.key
/storage/*
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/BdUtil.php
/.buildpath
/.project
/newfile.php
/test.php
/.settings/

# Python
__pycache__/
*.pyc
