openapi: 3.0.3
info:
  title: Task-Gitee API V2
  version: 1.0.0
  description: |
    Auto-generated OpenAPI document for `/api/v2` routes.
    Optimized for AI agents and API clients with stable operationId and capability hints.
servers:
  - url: http://testtask.congcong.us/api/v2
    description: test environment
  - url: http://localhost/api/v2
    description: local environment
security:
  - BearerAuth: []
tags:
  - name: accounts
  - name: achievements
  - name: applications
  - name: articles
  - name: auth
  - name: calendar
  - name: categories
  - name: codes
  - name: course-enrollments
  - name: course-items
  - name: courses
  - name: daily-summaries
  - name: feeds
  - name: plans
  - name: health
  - name: help
  - name: index
  - name: kindles
  - name: llm
  - name: minds
  - name: notes
  - name: notifications
  - name: personal-access-tokens
  - name: points
  - name: focus
  - name: settings
  - name: statistics
  - name: tasks
  - name: journals
  - name: thirds
  - name: wechat
paths:
  "/accounts":
    get:
      tags:
        - accounts
      summary: "GET /accounts"
      operationId: unknown_handle_get_accounts
      description: |
        Action: Api\\V2\\AccountController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/achievements":
    get:
      tags:
        - achievements
      summary: "GET /achievements"
      operationId: unknown_handle_get_achievements
      description: |
        Action: Api\\V2\\AchievementController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/achievements/claim":
    post:
      tags:
        - achievements
      summary: "POST /achievements/claim"
      operationId: unknown_handle_post_achievements_claim
      description: |
        Action: Api\\V2\\AchievementController@claim
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/applications/{appSlug}/{codePath}":
    get:
      tags:
        - applications
      summary: "GET /applications/{appSlug}/{codePath}"
      operationId: unknown_handle_get_applications_by_appslug_by_codepath
      description: |
        Action: Api\\V2\\ApplicationController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: appSlug
          in: path
          required: true
          schema:
            type: string
        - name: codePath
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles":
    get:
      tags:
        - articles
      summary: "GET /articles"
      operationId: unknown_handle_get_articles
      description: |
        Action: Api\\V2\\ArticleController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/allstatus":
    post:
      tags:
        - articles
      summary: "POST /articles/allstatus"
      operationId: unknown_handle_post_articles_allstatus
      description: |
        Action: Api\\V2\\ArticleController@allstatus
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/list":
    get:
      tags:
        - articles
      summary: "GET /articles/list"
      operationId: unknown_handle_get_articles_list
      description: |
        Action: Api\\V2\\ArticleController@list
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/mark":
    post:
      tags:
        - articles
      summary: "POST /articles/mark"
      operationId: unknown_handle_post_articles_mark
      description: |
        Action: Api\\V2\\ArticleController@mark
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/navcountinfo":
    get:
      tags:
        - articles
      summary: "GET /articles/navcountinfo"
      operationId: unknown_handle_get_articles_navcountinfo
      description: |
        Action: Api\\V2\\ArticleController@navcountinfo
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/navinfo":
    get:
      tags:
        - articles
      summary: "GET /articles/navinfo"
      operationId: unknown_handle_get_articles_navinfo
      description: |
        Action: Api\\V2\\ArticleController@navinfo
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/proxyview":
    get:
      tags:
        - articles
      summary: "GET /articles/proxyview"
      operationId: unknown_handle_get_articles_proxyview
      description: |
        Action: Api\\V2\\ArticleController@proxyView
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/status/{articleSub}":
    post:
      tags:
        - articles
      summary: "POST /articles/status/{articleSub}"
      operationId: unknown_handle_post_articles_status_by_articlesub
      description: |
        Action: Api\\V2\\ArticleController@status
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: articleSub
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/{articleSub}":
    delete:
      tags:
        - articles
      summary: "DELETE /articles/{articleSub}"
      operationId: unknown_handle_delete_articles_by_articlesub
      description: |
        Action: Api\\V2\\ArticleController@destroy
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: articleSub
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/{articleSub}/record":
    get:
      tags:
        - articles
      summary: "GET /articles/{articleSub}/record"
      operationId: unknown_handle_get_articles_by_articlesub_record
      description: |
        Action: Api\\V2\\ArticleController@getRecord
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: articleSub
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/articles/{article}":
    get:
      tags:
        - articles
      summary: "GET /articles/{article}"
      operationId: unknown_handle_get_articles_by_article
      description: |
        Action: Api\\V2\\ArticleController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: article
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/bootstrap-session":
    post:
      tags:
        - auth
      summary: "POST /auth/bootstrap-session"
      operationId: unknown_handle_post_auth_bootstrap_session
      description: |
        Action: Api\\V2\\AuthController@bootstrapSession
        Capability: web-session
      x-token-capability: "web-session"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - SessionCookie: []
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/login":
    post:
      tags:
        - auth
      summary: "POST /auth/login"
      operationId: unknown_handle_post_auth_login
      description: |
        Action: Api\\V2\\AuthController@login
        Capability: public
      x-token-capability: "public"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/logout":
    post:
      tags:
        - auth
      summary: "POST /auth/logout"
      operationId: unknown_handle_post_auth_logout
      description: |
        Action: Api\\V2\\AuthController@logout
        Capability: token
      x-token-capability: "token"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/me":
    get:
      tags:
        - auth
      summary: "GET /auth/me"
      operationId: unknown_handle_get_auth_me
      description: |
        Action: Api\\V2\\AuthController@me
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/password/email":
    post:
      tags:
        - auth
      summary: "POST /auth/password/email"
      operationId: unknown_handle_post_auth_password_email
      description: |
        Action: Api\\V2\\AuthController@sendPasswordResetLink
        Capability: public
      x-token-capability: "public"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/password/reset":
    post:
      tags:
        - auth
      summary: "POST /auth/password/reset"
      operationId: unknown_handle_post_auth_password_reset
      description: |
        Action: Api\\V2\\AuthController@resetPassword
        Capability: public
      x-token-capability: "public"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/refresh":
    post:
      tags:
        - auth
      summary: "POST /auth/refresh"
      operationId: unknown_handle_post_auth_refresh
      description: |
        Action: Api\\V2\\AuthController@refresh
        Capability: public
      x-token-capability: "public"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/register":
    post:
      tags:
        - auth
      summary: "POST /auth/register"
      operationId: unknown_handle_post_auth_register
      description: |
        Action: Api\\V2\\AuthController@register
        Capability: public
      x-token-capability: "public"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/session-from-token":
    post:
      tags:
        - auth
      summary: "POST /auth/session-from-token"
      operationId: unknown_handle_post_auth_session_from_token
      description: |
        Action: Api\\V2\\AuthController@establishWebSession
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/auth/verify":
    get:
      tags:
        - auth
      summary: "GET /auth/verify"
      operationId: unknown_handle_get_auth_verify
      description: |
        Action: Api\\V2\\AuthController@verify
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/calendar":
    get:
      tags:
        - calendar
      summary: "GET /calendar"
      operationId: unknown_handle_get_calendar
      description: |
        Action: Api\\V2\\CalendarController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/calendar/ics/{theme}":
    get:
      tags:
        - calendar
      summary: "GET /calendar/ics/{theme}"
      operationId: unknown_handle_get_calendar_ics_by_theme
      description: |
        Action: Api\\V2\\CalendarController@ics
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: theme
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/calendar/taskics/{calToken}":
    get:
      tags:
        - calendar
      summary: "GET /calendar/taskics/{calToken}"
      operationId: unknown_handle_get_calendar_taskics_by_caltoken
      description: |
        Action: Api\\V2\\CalendarController@taskics
        Capability: public
      x-token-capability: "public"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: calToken
          in: path
          required: true
          schema:
            type: string
      security: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/categories":
    get:
      tags:
        - categories
      summary: "GET /categories"
      operationId: unknown_handle_get_categories
      description: |
        Action: Api\\V2\\CategoryController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - categories
      summary: "POST /categories"
      operationId: unknown_handle_post_categories
      description: |
        Action: Api\\V2\\CategoryController@store
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/categories/sort":
    post:
      tags:
        - categories
      summary: "POST /categories/sort"
      operationId: unknown_handle_post_categories_sort
      description: |
        Action: Api\\V2\\CategoryController@sort
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/categories/{category}":
    get:
      tags:
        - categories
      summary: "GET /categories/{category}"
      operationId: unknown_handle_get_categories_by_category
      description: |
        Action: Api\\V2\\CategoryController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    put:
      tags:
        - categories
      summary: "PUT /categories/{category}"
      operationId: unknown_handle_put_categories_by_category
      description: |
        Action: Api\\V2\\CategoryController@update
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags:
        - categories
      summary: "DELETE /categories/{category}"
      operationId: unknown_handle_delete_categories_by_category
      description: |
        Action: Api\\V2\\CategoryController@destroy
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/codes/{codeInfo}":
    get:
      tags:
        - codes
      summary: "GET /codes/{codeInfo}"
      operationId: unknown_handle_get_codes_by_codeinfo
      description: |
        Action: Api\\V2\\CodeController@view
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: codeInfo
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - codes
      summary: "POST /codes/{codeInfo}"
      operationId: unknown_handle_post_codes_by_codeinfo
      description: |
        Action: Api\\V2\\CodeController@view
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: codeInfo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    put:
      tags:
        - codes
      summary: "PUT /codes/{codeInfo}"
      operationId: unknown_handle_put_codes_by_codeinfo
      description: |
        Action: Api\\V2\\CodeController@view
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: codeInfo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags:
        - codes
      summary: "DELETE /codes/{codeInfo}"
      operationId: unknown_handle_delete_codes_by_codeinfo
      description: |
        Action: Api\\V2\\CodeController@view
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: codeInfo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/course-enrollments":
    get:
      tags:
        - course-enrollments
      summary: "GET /course-enrollments"
      operationId: unknown_handle_get_course_enrollments
      description: |
        Action: Api\\V2\\CourseController@enrollments
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/course-items":
    post:
      tags:
        - course-items
      summary: "POST /course-items"
      operationId: unknown_handle_post_course_items
      description: |
        Action: Api\\V2\\CourseItemController@storeFromModal
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/course-items/structure/{courseId}":
    get:
      tags:
        - course-items
      summary: "GET /course-items/structure/{courseId}"
      operationId: unknown_handle_get_course_items_structure_by_courseid
      description: |
        Action: Api\\V2\\CourseItemController@getStructure
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/course-items/{id}":
    get:
      tags:
        - course-items
      summary: "GET /course-items/{id}"
      operationId: unknown_handle_get_course_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - course-items
      summary: "POST /course-items/{id}"
      operationId: unknown_handle_post_course_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@updateFromModal
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    put:
      tags:
        - course-items
      summary: "PUT /course-items/{id}"
      operationId: unknown_handle_put_course_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@updateFromModal
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags:
        - course-items
      summary: "DELETE /course-items/{id}"
      operationId: unknown_handle_delete_course_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@destroy
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses":
    get:
      tags:
        - courses
      summary: "GET /courses"
      operationId: unknown_handle_get_courses
      description: |
        Action: Api\\V2\\CourseController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - courses
      summary: "POST /courses"
      operationId: unknown_handle_post_courses
      description: |
        Action: Api\\V2\\CourseController@store
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/management":
    get:
      tags:
        - courses
      summary: "GET /courses/management"
      operationId: unknown_handle_get_courses_management
      description: |
        Action: Api\\V2\\CourseController@management
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/{courseId}/discussions":
    get:
      tags:
        - courses
      summary: "GET /courses/{courseId}/discussions"
      operationId: unknown_handle_get_courses_by_courseid_discussions
      description: |
        Action: Api\\V2\\DiscussionController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - courses
      summary: "POST /courses/{courseId}/discussions"
      operationId: unknown_handle_post_courses_by_courseid_discussions
      description: |
        Action: Api\\V2\\DiscussionController@store
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/{courseId}/discussions/{id}":
    get:
      tags:
        - courses
      summary: "GET /courses/{courseId}/discussions/{id}"
      operationId: unknown_handle_get_courses_by_courseid_discussions_by_id
      description: |
        Action: Api\\V2\\DiscussionController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/{courseId}/discussions/{id}/reply":
    post:
      tags:
        - courses
      summary: "POST /courses/{courseId}/discussions/{id}/reply"
      operationId: unknown_handle_post_courses_by_courseid_discussions_by_id_reply
      description: |
        Action: Api\\V2\\DiscussionController@reply
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/{courseId}/items":
    get:
      tags:
        - courses
      summary: "GET /courses/{courseId}/items"
      operationId: unknown_handle_get_courses_by_courseid_items
      description: |
        Action: Api\\V2\\CourseItemController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - courses
      summary: "POST /courses/{courseId}/items"
      operationId: unknown_handle_post_courses_by_courseid_items
      description: |
        Action: Api\\V2\\CourseItemController@store
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/{courseId}/items/{id}":
    get:
      tags:
        - courses
      summary: "GET /courses/{courseId}/items/{id}"
      operationId: unknown_handle_get_courses_by_courseid_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - courses
      summary: "POST /courses/{courseId}/items/{id}"
      operationId: unknown_handle_post_courses_by_courseid_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@update
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    put:
      tags:
        - courses
      summary: "PUT /courses/{courseId}/items/{id}"
      operationId: unknown_handle_put_courses_by_courseid_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@update
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags:
        - courses
      summary: "DELETE /courses/{courseId}/items/{id}"
      operationId: unknown_handle_delete_courses_by_courseid_items_by_id
      description: |
        Action: Api\\V2\\CourseItemController@destroy
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/{id}":
    get:
      tags:
        - courses
      summary: "GET /courses/{id}"
      operationId: unknown_handle_get_courses_by_id
      description: |
        Action: Api\\V2\\CourseController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - courses
      summary: "POST /courses/{id}"
      operationId: unknown_handle_post_courses_by_id
      description: |
        Action: Api\\V2\\CourseController@update
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    put:
      tags:
        - courses
      summary: "PUT /courses/{id}"
      operationId: unknown_handle_put_courses_by_id
      description: |
        Action: Api\\V2\\CourseController@update
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags:
        - courses
      summary: "DELETE /courses/{id}"
      operationId: unknown_handle_delete_courses_by_id
      description: |
        Action: Api\\V2\\CourseController@destroy
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/courses/{id}/join":
    post:
      tags:
        - courses
      summary: "POST /courses/{id}/join"
      operationId: unknown_handle_post_courses_by_id_join
      description: |
        Action: Api\\V2\\CourseController@join
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/daily-summaries":
    get:
      tags:
        - daily-summaries
      summary: "GET /daily-summaries"
      operationId: unknown_handle_get_daily_summaries
      description: |
        Action: Api\\V2\\DailySummaryController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - daily-summaries
      summary: "POST /daily-summaries"
      operationId: unknown_handle_post_daily_summaries
      description: |
        Action: Api\\V2\\DailySummaryController@store
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/daily-summaries/by-date":
    get:
      tags:
        - daily-summaries
      summary: "GET /daily-summaries/by-date"
      operationId: unknown_handle_get_daily_summaries_by_date
      description: |
        Action: Api\\V2\\DailySummaryController@getBySummaryDate
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/daily-summaries/tips":
    get:
      tags:
        - daily-summaries
      summary: "GET /daily-summaries/tips"
      operationId: unknown_handle_get_daily_summaries_tips
      description: |
        Action: Api\\V2\\DailySummaryController@getTipInfos
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/daily-summaries/{dailySummary}":
    get:
      tags:
        - daily-summaries
      summary: "GET /daily-summaries/{dailySummary}"
      operationId: unknown_handle_get_daily_summaries_by_dailysummary
      description: |
        Action: Api\\V2\\DailySummaryController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: dailySummary
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    put:
      tags:
        - daily-summaries
      summary: "PUT /daily-summaries/{dailySummary}"
      operationId: unknown_handle_put_daily_summaries_by_dailysummary
      description: |
        Action: Api\\V2\\DailySummaryController@update
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: dailySummary
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags:
        - daily-summaries
      summary: "DELETE /daily-summaries/{dailySummary}"
      operationId: unknown_handle_delete_daily_summaries_by_dailysummary
      description: |
        Action: Api\\V2\\DailySummaryController@destroy
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: dailySummary
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds":
    get:
      tags:
        - feeds
      summary: "GET /feeds"
      operationId: unknown_handle_get_feeds
      description: |
        Action: Api\\V2\\FeedController@index
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags:
        - feeds
      summary: "POST /feeds"
      operationId: unknown_handle_post_feeds
      description: |
        Action: Api\\V2\\FeedController@store
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/check-feed-url":
    get:
      tags:
        - feeds
      summary: "GET /feeds/check-feed-url"
      operationId: unknown_handle_get_feeds_check_feed_url
      description: |
        Action: Api\\V2\\FeedController@checkFeedUrl
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/explorer":
    get:
      tags:
        - feeds
      summary: "GET /feeds/explorer"
      operationId: unknown_handle_get_feeds_explorer
      description: |
        Action: Api\\V2\\FeedController@explorer
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/import-opml":
    post:
      tags:
        - feeds
      summary: "POST /feeds/import-opml"
      operationId: unknown_handle_post_feeds_import_opml
      description: |
        Action: Api\\V2\\FeedController@importOpml
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/navinfo":
    get:
      tags:
        - feeds
      summary: "GET /feeds/navinfo"
      operationId: unknown_handle_get_feeds_navinfo
      description: |
        Action: Api\\V2\\FeedController@navinfo
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/quickstore":
    post:
      tags:
        - feeds
      summary: "POST /feeds/quickstore"
      operationId: unknown_handle_post_feeds_quickstore
      description: |
        Action: Api\\V2\\FeedController@quickstore
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/search":
    get:
      tags:
        - feeds
      summary: "GET /feeds/search"
      operationId: unknown_handle_get_feeds_search
      description: |
        Action: Api\\V2\\FeedController@search
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/sort":
    post:
      tags:
        - feeds
      summary: "POST /feeds/sort"
      operationId: unknown_handle_post_feeds_sort
      description: |
        Action: Api\\V2\\FeedController@sort
        Capability: write
      x-token-capability: "write"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleObject"
            examples:
              sample:
                value:
                  key: value
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        default:
          $ref: "#/components/responses/GenericError"
  "/feeds/{feedSub}":
    get:
      tags:
        - feeds
      summary: "GET /feeds/{feedSub}"
      operationId: unknown_handle_get_feeds_by_feedsub
      description: |
        Action: Api\\V2\\FeedController@show
        Capability: read
      x-token-capability: "read"
      x-ai-hints:
        controller: "Unknown"
        handler: "handle"
      parameters:
        - name: feedSub
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                ok:
                  value:
                    code: 9999
                    msg: ok
                    result: {}
        "401":
[...]
